<template>
  <Button type="primary" @click="show">Show Popup</Button>
</template>

<script>
import { Button } from '@ncfe/nc.element-ui';
import Popup from '@ncfe/el.popup';

export default {
  name: 'Popup',
  components: { Button },
  methods: {
    show() {
      Popup.message({type: 'error', message: 'Error'});
    }
  }
}
</script>
