<template>
  <Button type="primary" @click="show">Custom Popup</Button>
</template>

<script>
import { Button } from '@ncfe/nc.element-ui';
import popup from './popup.vue';

export default {
  name: 'CustomPopupDemo',
  components: { Button },
  methods: {
    show() {
      popup.show();
    }
  }
}
</script>