<template>
    <Popup v-bind="config" class="custom-dialog ">
      This is a Custom Popup
    </Popup>
</template>

<script>
const Popup = require('@ncfe/el.popup');

export default Popup.wrap({
    name: 'CustomPopup',
    components: {Popup},
    config: fConfig,
});

function fConfig() {
    return {
        title: 'Custom Popup',
        width: 670,
        showClose: true
    };
}
</script>

<style lang="scss" scoped>
.custom-dialog {}
</style>
