<template>
  <div class="my-4 bg-light-50 border">
    <div class="p-4">
      <slot></slot>
    </div>
    <div class="px-2 text-right h-10 leading-10 border-t border-dashed">
      <svg v-if="copyStatus === 'ready'" class="inline-block mx-1 w-6 h-6 cursor-pointer" @click="copySource" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="13373" width="64" height="64"><path d="M592 96H353C308.8 96 272 130.8 272 175V192h-15C212.8 192 176 226.8 176 271v576c0 44.2 36.8 81 81 81h416c44.2 0 79-36.8 79-81V832h17c44.2 0 79-36.8 79-81V352L592 96z m0 89.2l166.8 166.8H592V185.2z m96 661.8c0 9.4-6.8 17-15 17h-416c-8.8 0-17-8.2-17-17v-576c0-8.2 7.6-15 17-15h15v511c0 44.2 20.8 65 65 65H688v15z m96-96c0 9.4-6.8 17-15 17h-416c-8.8 0-17-8.2-17-17v-576c0-8.2 7.6-15 17-15H528v256h256v335z" p-id="13374"></path></svg>
      <svg v-if="copyStatus === 'copied'" class="inline-block mx-1 w-6 h-6 cursor-pointer" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="2410" width="64" height="64"><path d="M912 192H842.1C832.3 192 823 196.5 817 204.1l-412.3 519.2-197.7-249c-6.1-7.7-15.3-12.1-25.1-12.1H112c-6.7 0-10.4 7.7-6.3 12.8l273.9 344.9c12.8 16.1 37.4 16.1 50.3 0L918.3 204.7c4.1-5 0.4-12.7-6.3-12.7z" p-id="2411" fill="#1afa29"></path></svg>
      <svg class="inline-block mx-1 w-6 h-6 cursor-pointer" @click="visible = !visible" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="21882" width="64" height="64"><path d="M516 673c0 4.4 3.4 8 7.5 8h185c4.1 0 7.5-3.6 7.5-8v-48c0-4.4-3.4-8-7.5-8h-185c-4.1 0-7.5 3.6-7.5 8v48zM321.1 679.1l192-161c3.8-3.2 3.8-9.1 0-12.3l-192-160.9c-5.2-4.4-13.1-0.7-13.1 6.1v62.7c0 2.4 1 4.6 2.9 6.1L420.7 512l-109.8 92.2c-1.8 1.5-2.9 3.8-2.9 6.1V673c0 6.8 7.9 10.5 13.1 6.1z" p-id="21883"></path><path d="M880 112H144c-17.7 0-32 14.3-32 32v736c0 17.7 14.3 32 32 32h736c17.7 0 32-14.3 32-32V144c0-17.7-14.3-32-32-32z m-40 728H184V184h656v656z" p-id="21884"></path></svg>
    </div>
    <div v-if="visible && source.length > 1" class="border-t border-dashed">
      <div
        v-for="item in source"
        :key="item.name"
        :class="[
          'px-2 h-8 leading-8 cursor-pointer inline-block',
          currentFile.name === item.name && 'border-b border-light-blue-300 text-light-blue-300'
        ]"
        @click="changeFile(item)"
      >
        {{ item.name }}
      </div>
    </div>
    <div v-if="visible" class="code-demo-source" v-html="currentFile.highlighted">
    </div>
  </div>
</template>

<script>
import copy from 'copy-text-to-clipboard';

export default {
  name: 'CodeDemo',
  props: {
    source: {
      type: Array,
      default() {
        return [];
      }
    }
  },
  data() {
    return {
      visible: false,
      timer: null,
      copyStatus: 'ready',
      currentFile: {}
    }
  },
  mounted() {
    this.currentFile = this.source[0];
  },
  methods: {
    copySource() {
      copy(this.currentFile.code);
      this.copyStatus = 'copied';
      if (this.timer) {
        clearTimeout(this.timer);
      }
      this.timer = setTimeout(() => {
        this.copyStatus = 'ready';
      }, 2000);
    },
    changeFile(item) {
      this.currentFile = item;
    }
  }
}
</script>

<style lang="scss">
.code-demo-source {
  pre {
    margin: 0;
  }
}
</style>