<template>
  <div id="app" class="flex">
    <!-- <header>Nav</header> -->
    <aside class="sidebar">
      <div
        v-for="doc in docs"
        :key="doc.name"
        :class="['sidebar-item', current === doc.name && 'sidebar-item_active']"
        @click="changeComponent(doc)"
      >
        {{ doc.data.title }}
      </div>
    </aside>
    <section class="content">
      <component :is="current" class="m-8" />
    </section>
  </div>
</template>

<script>
import { components, docs } from './docs';

export default {
  name: 'App',
  components: { ...components },
  data() {
    const query = Object.fromEntries(new URL(location.href).searchParams);
    return {
      current: query.component || docs[0].name,
      docs,
    }
  },
  methods: {
    changeComponent(doc) {
      location.href = `/?component=${doc.name}`;
    }
  }
}
</script>

<style lang="scss" scoped>
#app {
  display: flex;
  .sidebar {
    height: 100vh;
    width: 256px;
    border-right: 1px solid #e5e7eb;
    padding: 16px;
    overflow-y: auto;
    .sidebar-item {
      cursor: pointer;
      padding: 8px;
      border-radius: 4px;
    }
    .sidebar-item_active {
      background: rgb(241, 245, 249);
      color: rgb(125, 211, 252);
    }
  }
  .content {
    flex: 1;
    height: 100vh;
    overflow-y: auto;
  }
}
</style>